CompileFlags:
    Add:
    - "-std=c++17"
    - "-I/usr/local/include"
    - "-L/usr/local/lib"
    - "-lbenchmark"
    - "-I/opt/homebrew/Cellar/libomp/20.1.5/include"
    - "-L/opt/homebrew/Cellar/libomp/20.1.5/lib"
    - "-llibomp"